<div class="container-fluid" style="background-color: aliceblue;">
  <hr />
  <div class="dropdown">
    <button
      style="font-size: 20px;"
      type="button"
      class="btn btn-outline-secondary bg-dark dropdown-toggle float-right border-0"
      data-toggle="dropdown"
    >
      Ser parte del equipo
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/registroAdmin">Administrador</a>
      <a class="dropdown-item" href="#">Profesional </a>
    </div>
  </div>

  <img
    style="
      align-self: flex-start;
      width: 128px;
      padding-top: 20px;
      padding-left: 20px;
    "
    src="/static/logo.png"
  />

  <label style="font-size: 30px;">Tech Team</label>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-dark" href="/">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/servicios">SERVICIOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/personal">PERSONAL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="WWA.html">SOBRE NOSOTROS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="ISP.html">INICIAR SESIÓN</a>
    </li>
  </ul>

  <hr />
</div>
