<nav
  class="navbar navbar-light"
  style="
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  "
>
  <span class="navbar-brand mb-0 h1 text-center" style="color: azure;"
    >ADMINISTRADOR</span
  >
</nav>
