<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - ABOUT</title>
    <style>
      body {
        background: url("/static/alex.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    </style>
  </head>
  <body>
    <%- include('parciales/encabezado') %>

    <!-- BODY -->
    <div class="container">
      <div class="jumbotron bg-light">
        <div class="back"></div>
        <h1>...Un poco sobre</h1>

        <div class="jumbotron bg-dark text-dark">
          <div class="jumbotron bg-light">
            <h1 style="color: black;">Nosotros...</h1>
            <p>
              Somos una empresa dedicada a ofrecer los servicios profesionales
              en el área de software. En el cual nuestros empleados están
              totalmente capacitados para realizar proyectos relacionados a
              diferentes áreas de la Ingeniería Informática para todo tipo de
              clientes que necesitan adquirir servicios. Además, si eres un
              profesional y quieres ser parte del equipo, también te damos la
              oportunidad de que puedas ser parte del equipo, solo necesitas
              cumplir con los requisitos básicos que le pedimos a nuestros
              futuros compañeros de trabajo.
            </p>

            <p></p>
            <img
              src="/static/christina.jpg"
              class="float-right"
              width="700"
              height="400"
            />
            Nuestros clientes cuentan con la oportunidad de adquirir un
            servicio, donde en este lo único que deberán es escoger la
            especialidad en la cual quieren abarcar su proyecto. Una vez que se
            tenga definido cual será el servicio que desea adquirir, nuestro
            usuario únicamente debe de completar un formulario y enviarlo. ¿Qué
            sigue luego? Esta solicitud es enviada al Profesional inscrito en
            nuestra página, por lo que deberá esperar a que su petición sea
            aceptada y este mismo se ponga en contacto con el cliente. Cabe de
            recalcar que la pagina es únicamente un medio intermediario entre
            nuestros clientes y el profesional, el cual solo cumplirá dicha
            función.
            <p>
              Para las personas que desean formar parte del equipo, deben ser
              personas dedicadas en el área de informática, especializados en un
              área en específico. Si eres uno de esos, debes de saber que debes
              de completar un formulario, el cual será enviado a nuestros
              administradores para que ellos tomen la decisión el visto bueno
              para ser parte de nuestra empresa.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- FIN -->
    <%- include('parciales/nav') %> <%- include('parciales/scripts') %>
  </body>
</html>
