<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - ABOUT</title>
  </head>
  <body>
    <%- include('parciales/encabezado') %>

    <!-- BODY -->
    <div class="container">
      <div class="jumbotron bg-light">
        <h1 style="color: dodgerblue;">Sobre Nosotros</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel
          elit non est ullamcorper tempus. Integer neque massa, pellentesque ut
          erat at, tincidunt rutrum neque. Pellentesque eget tortor ac libero
          varius mollis. Aliquam erat volutpat. Nam vitae odio tortor. Ut sem
          sapien, suscipit eget nisl non, laoreet euismod justo. Etiam commodo
          ipsum nec enim pharetra ornare. Phasellus malesuada scelerisque risus
          sit amet commodo. Donec ac iaculis sem. Proin eleifend finibus quam.
          Cras scelerisque vehicula mauris a egestas. Cras venenatis congue
          augue a blandit.
        </p>

        <p></p>
        <img
          src="/static/christina.jpg"
          class="float-right"
          width="700"
          height="400"
        />
        Mauris sit amet elementum sapien. Phasellus a tempus neque. Donec sit
        amet sem in ligula egestas luctus non in orci. Mauris euismod elementum
        enim in vestibulum. Ut malesuada lacinia orci, a posuere mauris bibendum
        dapibus. Pellentesque eu odio et elit varius imperdiet eu in velit. Nunc
        et nisl nec augue maximus consequat. Aenean in arcu eu erat vulputate
        volutpat. Sed vitae neque accumsan, tempor urna vel, rhoncus justo.
        Vestibulum interdum ligula non scelerisque vulputate. Etiam nulla
        turpis, luctus nec sapien eget, vulputate congue justo. Nunc laoreet,
        est sed suscipit tincidunt, purus nisl faucibus nulla, at auctor massa
        elit ut tellus. Etiam pulvinar gravida ipsum, non convallis quam rutrum
        nec.
        <p>
          Suspendisse id nisi ac nisl finibus sagittis. Nunc finibus lacus a
          libero hendrerit elementum. Fusce ac justo sed ligula mollis finibus
          eu nec nibh. Donec ornare tortor arcu, nec imperdiet turpis venenatis
          in. Duis mattis justo quis lacus dapibus convallis. Ut urna nibh,
          blandit et iaculis ut, ultricies non nisl. Nunc malesuada convallis
          orci, ac suscipit lectus feugiat eu. Morbi sagittis lectus elit, et
          tempus nisi varius et.
        </p>
      </div>
    </div>

    <!-- FIN -->
    <%- include('parciales/nav') %> <%- include('parciales/scripts') %>
  </body>
</html>
