<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - INICIAR SESIÓN</title>
    <style>
      body {
        background: url("/static/alex.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
    </style>
  </head>
  <body>
    <%- include('parciales/encabezado') %>

    <!-- BODY -->

    <div class="container">
      <div class="jumbotron">
        <h1>Seleccione tipo de cuenta a iniciar sesión</h1>
        <p>
          Tech Team recuerda a sus usuarios que para entrar al servicio deben
          haber sido aceptados por el crew.
        </p>
        <a href="/loginA" class="btn btn-outline-dark btn-block" role="button"
          >Administrador</a
        >
        <a
          href="/loginP"
          class="btn btn-outline-secondary btn-block"
          role="button"
          >Profesional</a
        >
      </div>
    </div>
    <!-- FIN -->

    <%- include('parciales/nav') %> <%- include('parciales/scripts') %>
  </body>
</html>
