<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - HOME</title>
  </head>
  <body>
    <%- include('parciales/encabezado') %>

    <!-- BODY -->
    <div class="container">
      <img src="/static/tyler-frantaDesk.jpg" width="1110" height="500" />
      <p></p>
      <img src="/static/stil.jpg" class="float-left" width="550" height="700" />
    </div>
    <div class="container col-sm-">
      <div class="jumbotron bg-primary text-white text-center">
        <h1>Servicio personalizado al alcance de su mano</h1>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>-Networking</p>
          <p>-PC Support & Instalacion</p>
          <p>-Back Up de disco duro</p>
          <p>-Data Recovery</p>
          <p>-Soporte Remoto</p>
          <p>-Soporte de Smartphone</p>
        </div>
        <div class="col-sm-6">
          <p>-Reparacion de PC/Mac</p>
          <p>-Consultas</p>
          <p>-Soluciones TI</p>
          <p>-Training</p>
          <p>-Seguridad en Internet</p>
        </div>
      </div>
    </div>
    <!-- FIN -->
    <%- include('parciales/nav') %> <%- include('parciales/scripts') %>
  </body>
</html>
