<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('parciales/head') %>
    <title>TECH TEAM - MENU ADMIN</title>
  </head>
  <body>
    <!-- BODY -->
    <div class="container"></div>

    <!-- FIN -->
    <%- include('parciales/navAdmin') %> <%- include('parciales/scripts') %>
  </body>
</html>
